<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Detalles</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/app/home"> <i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h6 class="mb-0">Cantidad Modelo 1A</h6>
              <span class="fw-bold mb-0 font-20">$2,687</span>
            </div>
            <i class="fas fa-hand-holding-usd card-icon col-orange font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h6 class="mb-0">Cantidad Modelo 1B</h6>
              <span class="fw-bold mb-0 font-20">$2,687</span>
            </div>
            <i class="fas fa-hand-holding-usd card-icon col-blue font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h6 class="mb-0">Cantidad Modelo 2</h6>
              <span class="fw-bold mb-0 font-20">$2,687</span>
            </div>
            <i class="fas fa-hand-holding-usd card-icon col-red font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-bg">
          <div class="p-3 d-flex justify-content-between">
            <div class="col">
              <h6 class="mb-0">Cantidad Modelo 3</h6>
              <span class="fw-bold mb-0 font-20">$2,687</span>
            </div>
            <i class="fas fa-hand-holding-usd card-icon col-grey font-30 col-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Detalles de mis clientes</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-blue order-info-box7">
              <div class="info-box7-block">
                <h4 class="m-b-20">Modelo 1, 2, 3</h4>
                <h6 class="m-b-10">Clientes directos</h6>
                <h2 class="text-end"><i class="fas fa-user float-start"></i><span>###</span></h2>
                <h6 class="m-b-10">Clientes red</h6>
                <h2 class="text-end"><i class="fas fa-users float-start"></i><span>###</span></h2>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-purple order-info-box7">
              <div class="info-box7-block">
                <h4 class="m-b-20">Modelo 4</h4>
                <h6 class="m-b-10">Red izquierda</h6>
                <h2 class="text-end"><i class="fas fa-arrow-left float-start"></i><span>###</span></h2>
                <h6 class="m-b-10">Red derecha</h6>
                <h2 class="text-end"><i class="fas fa-arrow-right float-start"></i><span>###</span></h2>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-green order-info-box7">
              <div class="info-box7-block">
                <h4 class="m-b-20">Saldo Modelo 4</h4>

                <h6 class="m-b-10">Pierna Izquierda</h6>
                <h2 class="text-end"><i class="fas fa-wallet float-start"></i>
                  <span>
                    ${{information.AmountChildrenLeftModel4 | truncateDecimals:2}}
                  </span>
                </h2>
                <h6 class="m-b-10">Pierna Derecha</h6>
                <h2 class="text-end"><i class="fas fa-dollar-sign float-start"></i>
                  <span>
                    ${{information.AmountChildrenRightModel4 | truncateDecimals:2}}
                  </span>
                </h2>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-red order-info-box7">
              <div class="info-box7-block">
                <h4 class="m-b-20">Modelo 5</h4>
                <h6 class="m-b-10">Clientes directos</h6>
                <h2 class="text-end"><i class="fas fa-user float-start"></i><span>###</span></h2>
                <h6 class="m-b-10">Clientes red</h6>
                <h2 class="text-end"><i class="fas fa-users float-start"></i><span>###</span></h2>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="info-box7 l-bg-style3 order-info-box7">
              <div class="info-box7-block">
                <h4 class="m-b-20">Modelo 6</h4>
                <h6 class="m-b-10">Clientes directos</h6>
                <h2 class="text-end"><i class="fas fa-user float-start"></i><span>###</span></h2>
                <h6 class="m-b-10">Clientes red</h6>
                <h2 class="text-end"><i class="fas fa-users float-start"></i><span>###</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
